@import '../../../../themes/vars.less';
.node-form-box {
  flex: 1 1;
  padding: 0;
  overflow: hidden;
  :global {
    .title-group,
    .ant-row {
      padding: 8px 24px;
    }
    .title-group {
      position: relative;
      display: flex;
      align-items: center;
      height: 48px;
      color: fade(@black, 85%);
      font-weight: 700;
      line-height: 34px;
      i {
        position: absolute;
        right: 10px;
        display: inline-block;
        width: 32px;
        height: 32px;
        color: fade(@black, 45%);
        font-size: 12;
        line-height: 34px;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease-in 0.2s;
        &:hover {
          color: @primary-color;
          background-color: fade(@black, 5%);
        }
      }
    }
    .node-form-item {
      transition: display ease-in 0.2s;
    }
    .desc,
    .item-desc {
      margin-top: 6px;
      margin-bottom: 0;
      margin-left: 0;
      color: #8c8c8c;
      font-size: 12px;
    }
    .item-desc {
      position: relative;
      top: -16px;
      margin: 0 0 0 24px;
    }
  }
}
